<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %> | <%= page %></title>
    <!-- <link rel="shortcut icon" href="imgs/tent2.png"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>
  <body class="container-fluid">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-brand">
            <a href="/" id="brandName">PetsLiveOn</a>
          </div>
        </div>
        <div class="navbar-collapse collapse" id="myNavbar">
          <ul class="navbar-nav nav ">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/about">About</a>
            </li>
            <li>
              <a href="/community">Community</a>
            </li>
            <li>
              <a href="/memorial">Memorials</a>
            </li>
            <li>
              <a href="/profile">Profile</a>
            </li>
          </ul>
          <ul class="navbar-nav nav navbar-right">
          <%  if (!currentUser){ %>
              <!-- <li class="bkBtn"><a href="/login">Login</a></li> -->
              <li>
                <a href="/login">
                  <button class="bkBtn" type="button" name="button">Login</button>
                </a>
              </li>
              <li >
                <a href="/register">
                  <button class="bkBtn" type="button" name="button">Sign Up</button>
                </a>
              </li>
          <%  }else { %>
              <li><a href="#">Signed In As <%= currentUser.username.toUpperCase()  %></a></li>
              <li><a href="/logout">Log Out</a></li>
          <%  } %>

          </ul>
        </div>
    </nav>
    <div class="demo">
