<% include partials/header %>
<% include partials/navbar %>


<div id="landing-header">
  <div id="mainwrap">
    <h1>Welcome to PetsLiveOn!</h1>
    <a href="/memorials" class="btn btn-lg  viewBtn">Search Memorials</a>
  </div>
</div>

<ul class="slideshow">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
<% include partials/landing-footer %>
