<% include partials/header %>
<% include partials/navbar %>
<div class="container text-center">
  <div class="row">
    <form class="enterForm" action="/register" method="POST">
      <h2 class="titleForm">Register</h2>
      <div class="form-group">
        <label for="username">Name</label>
        <input required class="form-control" id="username"type="text" name="username" placeholder="User name">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input required class="form-control" id="password"type="password" name="password" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="adminCode">Admin Code</label>
        <input  class="form-control" id="adminCode"type="text" name="adminCode" placeholder="Admin Code">
      </div>
      <div class="form-group">
        <input class="loginBtn submit"type="submit">
      </div>
    </form>
  </div>
</div>

<% include partials/footer %>
