body {
  /*background-color: #593122;*/
  /*background-color: #754e3c;*/
  background-color: ;
}

.navbar-default .navbar-nav>li>a {
  font-size: 19px;
  color: #fff;
  text-shadow: 1px .7px .5px #000, 1px 1px .5px #fff;
  transition: color .3s ease;
}
.navbar-default .navbar-nav>li>a:hover {
  color: #67966d;
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover,
.navbar-default .navbar-toggle,
.btn-prim {
  background-color: #165b1e;
  color: white
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover{
  border-color: #165b1e;
}
.btn-lg,
.btn-prim:hover,
.btn .btn-prim:focus {
  background-color: #133a18;
  color: white;
}
.btn-a {
  color: #133a18;
  font-weight: bold;
  border-bottom: solid 2px #133a18;
  margin-bottom: 5px;
  display: block;
  width: 168px

}

.btn-text,
.btn-text:hover,
.btn-text:focus,
.btn-text:active {
  color: #133a18;
  font-weight: bold;
}
.btn-a:hover {
  text-decoration: none;
}

.btn-a:hover,
.btn-a:focus,
.btn-a:active {
  color: #133a18;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #165b1e;
}
.btn-lg:hover{
  color: #67966d;
}

.navbar {
  background-color: #302520;
  border-color: #302520;
}
#brandName {
  font-size: 25px;
  /*color: #165b1e;*/
  color: #67966d;
  text-shadow: 2px 1px .5px #000, 1px 1px .5px #fff;
}


#landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 40vh;
}

#mainwrap{
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.6);
  padding: .25em 1em 1.5em;
  border-radius: 1em;
  max-width: 443px;
  width: 100%;
}

#landing-header h1 {
  color: #fff;
}

.slideshow {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite;
}

.slideshow li:nth-child(1) {
  background-image: url(/imgs/pets1.jpg)
}
.slideshow li:nth-child(2) {
  background-image: url(/imgs/pets2.jpg);
  animation-delay: 10s;
}
.slideshow li:nth-child(3) {
  background-image: url(/imgs/pets3.jpg);
  animation-delay: 20s;
}
.slideshow li:nth-child(4) {
  background-image: url(/imgs/pets4.jpg);
  animation-delay: 30s;
}
.slideshow li:nth-child(5) {
  background-image: url(/imgs/pets5.jpg);
  animation-delay: 40s;
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}
