<% include ../partials/header %>
<% include ../partials/navbar %>

  <% if(currentUser && currentUser.isAdmin) { %>
    <h1>You're an Admin</h1>
  <% } %>

  <div class="container">
    <header class="jumbotron">
      <div class="container">

        <div class="text-center">
          <img id="pic"  class="inline"src="imgs/love-icon.png"  width="130" alt="">
          <h1 class="inline text-center">Welcome to PetsLiveOn</h1>
        </div>
      <!-- </div> -->

        <p class="text-center"><strong>View pet obituaries</strong></p>
        <p>
          <a class="btn btn-primary btn-block" href="/pets/new"> Add New Pet Memorial</a>
        </p>
        <p>

         </p>
      </div>
    </header>





    <br><br>
    <a href="/"class="btn-a"><  Back to landing page</a>
  </div>

<% include ../partials/footer %>
