<% include ../partials/header %>
<% include ../partials/navbar %>

  <% if(currentUser && currentUser.isAdmin) { %>
    <h1>You're an Admin</h1>
  <% } %>

  <div class="container">
    <header class="jumbotron">
      <div class="container">

        <div class="text-center">
          <img id="pic"  class="inline"src="imgs/love-icon.png"  width="130" alt="">
          <h1 class="inline text-center">Welcome to PetsLiveOn</h1>
          <h3 style="font-family:cursive"><strong><em>Pet Obituaries & Memorials</em></strong></h3>
        </div>
      </div>
    </header>
    <br><br>


    <h3 class="text-center">Learn more about what <a href="/about">PetsLiveOn</a> is and how you can help other pet owners dealing with the loss of their beloved pet.</h3>

  </div>

<% include ../partials/footer %>
