<% include ../partials/header %>
<% include ../partials/navbar %>

  <% if(currentUser && currentUser.isAdmin) { %>
    <h1>You're an Admin</h1>
  <% } %>

  <div class="container">
    <header class="jumbotron">
      <div class="container">

        <div class="text-center">
          <img id="pic"  class="inline"src="imgs/love-icon.png"  width="130" alt="">
          <h1 class="inline text-center">Welcome to PetsLiveOn</h1>
        </div>
      </div>
    </header>
    <br><br>

    <h3>Learn more about <a href="/about">PetsLiveOn</a></h3>
    
  </div>

<% include ../partials/footer %>
